{% extends "base.html" %}

{% block content %}

<form id="form-version" method="get" action="">
	<div>
		<input type="hidden" name="edit" value="" />
		<input type="hidden" name="version" value="" />
	</div>
</form>

<form id="form-edit" method="post" action="">
	<div class="toolbar">
		<button type="submit">Save</button>
		<button class="cancel">Cancel</button>
		<select name="url">
		{% for res in resource_list %}
			<option{% ifequal res.url resource.url %} selected{% endifequal %}>{{ res.url }}</option>
		{% endfor %}
		</select>
		<select name="version">
		{% for ver in resource.get_versions %}
			<option value="{{ ver.key }}"{% ifequal ver.key resource.key %} selected{% endifequal %}>{{ ver.updated|timesince }} ago{% if forloop.first %} (latest){% endif %}</option>
		{% endfor %}
		</select>
		<select name="template">
			<option value="">(no template)</option>
		{% for tpl in resource.get_templates %}
			<option{% ifequal resource.template tpl.url %} selected{% endifequal %}>{{ tpl.url }}</option>
		{% endfor %}
		</select>
	</div>
	<div>
		<textarea name="body" rows="10" cols="30" placeholder="&lt;body&gt;">{{ resource.body }}</textarea>
	</div>
</form>

{% endblock %}