body.admin {
	margin: 0;
	padding: 10px;
	background: #fff;
	color: #222;
	font-family: sans-serif;
	font-size: .85em;
}

.admin .toolbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px;	
	background-color: #fff;
	xbackground-image: -webkit-gradient(linear, 0 0, 0 100%, to(transparent), from(rgba(0, 0, 0, .1)));
	x-webkit-border-radius: 10px;
	-webkit-box-shadow: rgba(0, 0, 0, .5) 0 .5em 2em;
}

.admin .toolbar button {
	float: right;
	margin-left: 1em;
}

.admin .toolbar button[type=submit] {
	padding-left: 3em;
	padding-right: 3em;
}

.admin textarea {
	border: 0;
	width: 98%;
	padding: .5em;
	font-family: monospace;
}

.admin textarea[name=body] {
	height: 30em;
	margin-top: 4em;
}
